* {
    margin: 0;
    padding: 0;
}

.regular-subtitle-text {
    font-family: 'Chau Philomene One', sans-serif;
    margin: 50px auto 25px;
    font-size: 1.4rem;
}

body {
    font-family: 'Alconica', sans-serif;
    background-color: #e7dfdf;
}

a, h1, h2, h3 {
    font-family: 'Chau Philomene One', sans-serif;
}

h1, h2, h3, h4 {
    color: black;
}

input, textarea {
    font-family: 'Alconica', sans-serif;
}



/* ########### TEMPLATE ########## */

a.scrollup-btn.btn-floating.btn-large.cyan.pulse {
    position: fixed;
    right: 15px;
    bottom: 60px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

/* ########### NAVBAR ########## */

.navbar {
    padding: 20px 60px;
    background-color: #002f44;
    height: 10vh;
}

a.navbar-brand {
    position: relative;
    /* bottom: 20px; */
    height: 100px;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

a.nav-link {
    font-size: 1.1rem;
    letter-spacing: 2px;
}

a.nav-link:hover {
    color: #fff;
}

nav ul li.active {
    background-color: none;
}

nav ul a:hover {
    background-color: none;
}

li.nav-item {
    padding: 5px 15px;
}

p {
    font-size: 1.2em;
}

#main-position {
    height: auto;
    padding-left: 0;
    padding-right: 0;
}

/* ########### MAIN INDEX ########## */

#main_container {
    position: relative;
    background-image: url('../images/wood-landscape-mountains-nature.jpg');
    background-size: cover;
    min-height: 85vh;
    padding: 300px 0 200px;
}

#main-titles {
    position: relative;
    top: 30%;
    width: 70%;
    height: 50%;
    margin: auto;
    text-align: center;
}

.main_text_title {
    color: white;
}

#title_book {
    font-style: italic;
    color: gold;
}

#main_title {
    font-size: 3.5em;
    margin-bottom: 3%;
}

#sub_title {
    font-size: 2em;
    margin: auto;
    margin-bottom: 3%;
    width: 50%;
}

#sub_title::after {
    content: '';
    border-bottom: 2px solid;
    width: 75%;
    position: relative;
    top: 2%;
}

#last_reads_button_link {
    color: black;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    top: 20px;
    font-size: 2.2vh;
}

#last_reads_button_link:hover {
    background-color: #c0c0c087;
    transition-timing-function: ease-in-out;
    transition-property: background-color;
    transition-duration: 0.2s;
}

/* ########## CHAPTERS OVERALL ########## */

#book_background {
    background-image: url('public/images/book_background.png');
    background-repeat: repeat;
    position: absolute;
}

.container-main-title_description {
    position: relative;
    top: 30px;
    color: #416fa1;
}

.hr-separation {
    border-top: 4px solid rgb(23, 162, 184);
    width: 40vh;
    margin: 1vh auto;
    border-radius: 15%;
}

#main-listPosts {
    border: 1px solid #bdc0d3;
    box-shadow: 1px 4px 12px 4px;
    background-color: white;
}

#container_list_chapters {
    flex-wrap: wrap;
    padding-top: 20px;
}

.title-section {
    border-left: 5px solid;
    border-right: 5px solid;
    border-radius: 20px;
    width: 60%;
}

#main-title_description {
    margin: 30px auto;
    border-left: 5px solid;
    border-right: 5px solid;
    border-radius: 20px;
    width: 60%;
}

.post_thumbnail {
    border-bottom: 1px solid #94a3ab;
    padding: 20px;
    margin-bottom: 30px;
}

.img-thumbnail {
    padding: 0;
    border-radius: 0;
    border: none;
}

img.img-thumbnail.mx-auto.d-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    border: none;
}

.illustration-thumbnail {
    height: 300px;
    overflow: hidden;
}

.illustration-thumbnail img {
    max-width: 100%;
    object-fit: cover;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.illustration-thumbnail:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.txt_illustration {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    height: 49%;
    width: 100%;
    opacity: 0;
    position: absolute;
}

#title_img {
    font-size: 1.8rem;
}

.illustration-thumbnail:hover span.txt_illustration {
    opacity: 1;
    z-index: 100;
}

span.txt_illustration span {
    display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.bottom-border {
    position: relative;
    bottom: 30px;
    border-top: 7px solid #66bbc6;
}

.card a {
    margin-top: 15px;
}

.card-body {
    padding: 0 2vh 5vh 2vh;
}

.card.col-5 {
    padding-left: 0;
    padding-right: 0;
}

#content_text_thumbnail {
    margin-left: 30px;
    width: 81%;
}

#readmore-link {
    position: absolute;
    color: white;
    right: 15px;
    bottom: 15px;
}

.post_time-text {
    font-size: 16px;
}

/* ########## CHAPTER DETAIL ########## */

#container-chapterView {
    background-color: white;
}

#main-chapterView {
    padding-bottom: 40px;
}

#chapter_content {
    height: auto;
    border-left: 7px solid #17a2b8;
    border-radius: 50px;
    padding: 30px;
    margin: 30px auto;
}

#comment_box {
    padding-bottom: 10px;
}

.img-fluid {
    max-width: 60%;
}

.separation_icon {
    color: #26838f;
    margin: 0px auto 30px auto;
    position: relative;
    bottom: 10px;
}

#backto_link {
    margin-top: 60px;
}

#container_comments {
    position: relative;
    bottom: 20px;
}

#comment_part_title {
    margin: 50px auto;
}

.comment-row {
    min-height: 150px;
    border: 3px solid #dee2e6;
    box-shadow: 1px 0px 6px -1.5px;
}

td#comment-section {
    padding-bottom: 7vh;
}

#comment-form_container {
    border: 3px solid #dee2e6;
    box-shadow: 1px 0px 6px -1.5px;
    padding: 20px;
    margin-bottom: 30px auto 0 auto;
}

.signalment-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.signalment_link {
    color: white;
}

.date_time_comment {
    font-size: 14px;
}

.management_link {
    margin: 30px auto;
}

/* ########## CREATE CHAPTER ########## */

div#creation_container {
    margin: 30px auto;
}

#container_image_update {
    margin: 20px;
}

/* ########## EDIT CHAPTER ########## */

#image-post-chapter {
    width: 45%;
    height: 450px;
    margin: 0 0 30px 30px;
    object-fit: cover;
}

#authorPostContent {
    width: 60%;
    min-height: 500px;
}

#edit_container {
    width: 80%;
    margin: auto;
}

/* ########## HEADER ########## */

#logo_site_name {
    font-family: 'Aclonica', sans-serif;
    color: white;
    margin-bottom: auto;
}

#sub_logo_title {
    color: white;
    text-align: center;
}

#logo_site_container {
    display: flex;
    align-items: center;
    margin: 6px 20px;
}

#menu_container #main-menu li a {
    color: white;
    text-decoration: none;
}

#header_container {
    background-color: #002f44;
    display: flex;
    justify-content: space-between;
}

#menu_container {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 8%;
}

#main-menu {
    list-style-type: none;
    display: flex;
}

.item-menu-header {
    padding: 25px 40px;
    font-size: 1.2em;
}

.item-menu-header:hover {
    background-color: #c0c0c036;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

/* ########## FOOTER ########## */

#footer-container {
    background-color: #002f44;
    height: auto;
    position: sticky;
    width: 100%;
    bottom: 0;
}

#footer_infos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#footer_copyright, #footer_mentions_legales {
    color: white;
}

.footer-item {
    margin: 5px 30px;
    font-size: 1.1em;
    ;
}

#footer_connexion_link {
    text-decoration: none;
    color: white;
}

#fa-logout {
    color: #b40000;
    font-size: 1.1rem;
    margin-right: 5px;
}

/* ########## ABOUT ########## */

#main-about {
    height: 85vh;
    background-color: white;
}

img#background_about_img {
    height: 85vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

#background_contact_img {
    height: 85vh;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -10;
}

#container_portrait {
    position: relative;
    bottom: 40px;
}

#border-portrait {
    height: 409px;
    width: 340px;
}

#author_portrait {
    width: 211px;
    position: absolute;
    right: 66px;
    bottom: 68px;
    height: 302px;
}

#portrait_container {
    margin-left: 20px;
}

div#about-container_content {
    padding: 30px;
    margin: 30px auto;
}

#about_container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

#about_description {
    color: black;
}

#quote_text_author {
    font-style: italic;
    padding: 15px 20px;
    background-color: #f0eff5;
}

#about_last-para {
    position: relative;
    left: 20px;
}



/* ########## CONTACT ########## */



#main-contact {
    height: 85vh;
}

.alert.alert-warning.col-md-8.container.container_error {
    position: relative;
    top: 15px;
}

#text_contact {
    margin: 30px auto 20px;
    top: 20px;
    position: relative;
}

#title-form {
    background-color: #e7e7bf;
}

#form_container {
    padding: 20px 50px;
    border-top: 4px solid rgb(23, 162, 184);
}

#container-form {
    margin: 30px auto;
}

#submit_contact_btn {
    font-weight: 600;
}



/* ########## CONNEXION PAGE ########## */

#main-connexion-screen {
    height: 85vh;
}

/* ########## ADMIN MAINPAGE ########## */

#main-admin-page {
    margin: 5vh auto;
}

#overlay_admin {
    background-color: white;
}

#fa-horn {
    font-size: 1.4rem;
    position: relative;
    top: 2px;
}

#new_chapter {
    margin: 20px auto;
}

.btn-group-lg>.btn, .btn-lg {
    height: 45px;
}

#admin_banner-main {
    border: 2px solid;
    margin: 30px auto;
    padding: 20px;
}

/* ########## ADMIN MANAGE COMMENTS ########## */

#main-comment-Manager {
    height: 87vh;
}

a.fa-main_admin {
    font-size: 1.8rem;
    margin-left: 20px;
}

#title-list {
    height: fit-content;
}

/* ########## ADMIN CONNEXION PAGE ########## */

#connexion_container {
    width: 45%;
    min-height: 55%;
    height: auto;
    border: 2px solid;
    padding: 20px;
}

label.connexion_labels {
    font-size: 1.1em;
}

table.table {
    margin-top: 10px;
}

.table td, .table th {
    vertical-align: unset;
    border-top: unset;
}